.container{
    background: #f5c6cb;
    display: table;
    border: 5px solid black;
}
.grid{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(50,10px);
    grid-template-rows: repeat(50,10px);
    grid-gap: 5px;
}
