@font-face {
    font-family: lakeshore;
    src: url("fonts/LAKESHOR-webfont.svg") format("svg");
    src: url("fonts/LAKESHOR-webfont.woff") format("woff")
}
@font-face {
    font-family: airstream;
    src: url("fonts/Airstream-webfont.svg") format("svg");
    src: url("fonts/Airstream-webfont.woff") format("woff")
}
.thumbnails-item {
    border: solid 2px red;
margin-top: 40px;

}

.thumbnails-image {
   width: 15vw;
    height: 10vw;
}
.thumbnails-title {
    display: block;
    text-align: center;
    background-color: aliceblue;
    font-size: 1.5rem;
    color: black;
}
a {
    text-decoration: none;
}
.thumbnails-list {
    display: flex;
    list-style: none; /*removing dot from items*/
   justify-content:space-around;
    padding-right: 40px;
}
.logo-title {
    text-align: center;
    background-color: antiquewhite;
    font-size: 50px;
    font-family: lakeshore;
    text-transform: uppercase;
}
body {
    display: flex;
    flex-direction: column;
    background-color: blue;
}
/*selector for the element by id*/
/*#dog1 {*/
/*    margin-top: 0;*/
/*}*/
.detailed-title {
    display: block;
    position: absolute;
    bottom: 1vw;
    font-family: airstream;
    font-size: 5vw;
    font-style: italic;
    background-color: #f6a12e
    color: white;

}
.detailed-frame {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;

}
.detailed-image {
    width: 70vw;
}
