html { height:100%; }
body, #root { position:absolute; top:0; bottom:0; right:0; left:0; }

.box{
    margin: 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap
}
.material-icons{
    font-size: 2.4em;
    cursor: pointer;
}
.card{
    width: 300px;
}
.card .card-image .card-title{
    color: black;
    font-weight: 400;
    position: inherit;
    font-size: 14px;
}
.cart{
    margin-top:40px;
}
card-title{
    position: inherit;
    color: black;
}
.collection .collection-item{
    display: flex;
}
.collection-item.avatar .title {
    font-size: 20px;
    font-weight: 500;
    color: #ee6e73;
    display: block;
    margin-bottom: 20px;
    
}
.collection .collection-item img{
    width: 150px;
    margin-right: 25px;
}
.item-desc{
    align-self:center;
}
.body{
    background-image: url('./images/colorful-balloon-png.png');
    background-repeat: round;
    background-size: auto;
    margin: 0;
}
.bodyTitle{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin: 0;
    padding-top: 20px;
}
.centerForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    margin-top:10px;
}
.basketQuant{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-weight: 900;
    position: absolute;
    color: #ee6e73;
    text-align: center;
    margin-left: 10px;

}
* {
    margin: 0;
    padding: 0;
  }
  .content {
    min-height: calc(100vh - 80px);
  }
     .log{
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 1vh;
     }
     .social-btn{
        display: block;
        margin-left: 40%;
        margin-top: 1vh;
        width: 20vw;

     }
.sing-bar{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: center;
    padding: 3px 12px;
}
.nav{
    display: grid;
    width: 100%;
    margin: 0 auto 20px;
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr;
    /*grid-gap: 10px;*/

    grid-template-areas: "b s" "b a";

}
.avatar{
    grid-area: a;
}
.card-log{
    margin-top: 5vh;
    margin-left: 30vw;
    margin-right: 30vw;
    background: #e3d6bc;
}
.img-avatar{
    width: 9vw;
    height: 11vw;
    margin: 0 auto;
    padding: 0;
}
.detailTotal{
    margin-left: 5px;
  font-weight: bold;
    color: red;

}




/*contact form*/
.container-out {
    font-family: "Fira Sans", sans-serif; /* adds font obtained from google fonts */
    padding: 15px 0; /* adds padding at the top and bottom of the outer container */
    max-width: 400px; /* gives the outer container a maximum width of 400px */
    margin: 0 auto; /*centers the outer container in the middle of the body */
}

.container-in {
    padding: 30px 0; /* adds padding at the top and bottom of the inner container */
    width: 95%; /* width of inner container equals 95% of the outer container */
    margin: 0 auto; /*centers the outer container in the middle of the outer container */
    background: white; /* gives the inner container a background color */
    border-radius: 5px; /* curves the edges of the inner container by 5px */
}

.contact-form {
    width: 85%; /* width of inner container equals 85% of the inner container */
    margin: 0 auto; /*centers the outer container in the middle of the inner container */
}

.contact-form p {
    margin: 0; /* removes all margins from the p tags */
    margin: 5px 0; /* add 5px margin at the top and bottom of the p tags */
    color: #ee6e73; /* changes the text color of the p tag to white */
}

.contact-form input {
    border: none; /* removes the border on the input */
    width: 100%; /* makes the input width same as the contact-form div*/
    margin-bottom: 15px; /* adds margin at the bottom of the input */
    padding: 10px; /* adds 10px padding to all sides of the input */
    box-sizing: border-box; /* prevents the input from overflowing out of the parent div */
    border-radius: 3px; /* curves the edges of the input by 3px */
}

.contact-form textarea {
    width: 100%; /* makes the textarea width same as the contact-form div */
    padding: 10px; /*  adds 10px padding to all sides of the input */
    box-sizing: border-box; /* prevents the input from overflowing out of the parent div */
    border-radius: 3px; /* curves the edges of the input by 3px */
    min-height: 120px; /* gives the text-area a minimum height of 120px */
    margin-bottom: 15px; /* adds margin at the bottom of the textarea */
    resize: vertical; /* limits resizing to vertical resizing */
}

.contact-form button {
    border: none; /* removes the border on the button */
    padding: 7px; /*  adds px padding to all sides of the button */
    background: #e8f8ff; /* gives the button a background color */
    color: #ee6e73; /* changes the text color of the button to white */
    border-radius: 4px; /* curves the edges of the button by 4px */
    cursor: pointer; /* changes the mouse pointer when you hover over the button */
    font-weight: bold; /* boldens the text of the button */
}

.contact-form button:hover {
    opacity: 0.7; /* changes the opacity of the button to 0.7 on hover */
}
.ui.comments .comment .content{
    display: contents;
}
.pagination {
    cursor: default;
    text-align: center;
}
.carousel-item{
    width: 15vw;
}


ul.select-dropdown,ul.dropdown-content{
    width:15vw !important;

}
ul.dropdown-content li > a, .dropdown-content li > span {
    color: #ee6e73;
}

div.MuiInput-underline:before {
    border-bottom: none;
    content: none;
 }
div.MuiInput-underline:after {
    border-bottom: none;
    content: none;
}
div.MuiDrawer-paper{
    position: inherit;
    height: 90vh;
}
div.MuiGrid-container{
    display: block;
    text-align: -webkit-center;
}
.list-left{
    margin-left: 3vw;
    color: gray;
}