html { height:100%; }
body, #root { position:absolute; top:0; bottom:0; right:0; left:0; }

.box{
    margin: 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap
}
.contact-comp{
    margin-top:50px;
    margin-left:27.5vw;
    margin-right:27.5vw;
    height:100%
}
.buttons-form{
    display: flex;
    justify-content: space-evenly;
    margin: 10px;
}
.material-icons{
    font-size: 2.4em;
    cursor: pointer;
}
.card{
    width: 300px;
}
.wrapper .card .card-title{
    font-size: 16px;
}
.wrapper .card{
    border-radius: 10px;
}
.wrapper{
    margin-bottom: 20px;
}
.card .card-image .card-title{
    color: black;
    font-weight: 400;
    position: inherit;
    font-size: 14px;
}
.cart{
    margin-top:40px;
}
.card-title{
    position: inherit;
    color: black;
}
.collection .collection-item{
    display: flex;
}
.collection-item.avatar .title {
    font-size: 20px;
    font-weight: 500;
    color: black;
    display: block;
    margin-bottom: 20px;
    
}
.collection .collection-item img{
    width: 150px;
    margin-right: 25px;
}
.item-desc{
    align-self:center;
}

.body{
    /*background-image: url('./images/Balloons-Background-PNG-715x715.png');*/
    background-repeat: round;
    background-size: auto;
    margin: 0;
}
.bodyTitle{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin: 0;
    padding-top: 20px;
}
.centerForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    margin-top:10px;
}
.checkout{
    text-align: center;
    margin-bottom: 20px;
}
.basketQuant{
    display: flex;
    font-weight: 900;
    position: absolute;
    color: white;
    margin-left: 10px;
    top:-15px;
    margin-top: 22px;

}
#logo_img{
    width:7vw;
    height:10vw;
    marginLeft:5vw;
    z-index: 2;
    position: absolute;
}
#logo_text{
    margin-left: 7.5vw;
    z-index: 1;
    position: absolute;
    font-size:2.5vw;
    font-family:fantasy;
    margin-top:30px
}
* {
    margin: 0;
    padding: 0;
  }
  .content {
    min-height: calc(100vh - 80px);
  }
     .log{
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 1vh;
     }
     .social-btn{
        margin-top: 1vh;
         width: max-content;
     }
     .center-auth{
         display: flex;
         justify-content: center;
     }
.sing-bar{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: center;
    padding: 3px 12px;
}
.nav{

    display: grid;
    width: 100%;
    margin: 0 auto 20px;
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr;
    grid-template-areas: "b s" "b a";

}
div nav{
    background-color: black;
    line-height: 10px !important;
}

.avatar{
    grid-area: a;
}
.card-log{
    margin-top: 5vh;
    margin-left: 30vw;
    margin-right: 30vw;
    background: #e3d6bc;
}
.img-avatar{
    width: 9vw;
    height: 11vw;
    margin: 0 auto;
    padding: 0;
    display:flex;
    align-items:center;
}
.detailTotal{
    margin-left: 5px;
  font-weight: bold;
    color: red;

}

/*contact form*/
.container-out {
    font-family: "Fira Sans", sans-serif; /* adds font obtained from google fonts */
    padding: 15px 0; /* adds padding at the top and bottom of the outer container */
    max-width: 400px; /* gives the outer container a maximum width of 400px */
    margin: 0 auto; /*centers the outer container in the middle of the body */
}

.container-in {
    padding: 30px 0; /* adds padding at the top and bottom of the inner container */
    width: 95%; /* width of inner container equals 95% of the outer container */
    margin: 0 auto; /*centers the outer container in the middle of the outer container */
    background: white; /* gives the inner container a background color */
    border-radius: 5px; /* curves the edges of the inner container by 5px */
}

.contact-form {
    width: 85%; /* width of inner container equals 85% of the inner container */
    margin: 0 auto; /*centers the outer container in the middle of the inner container */
}

.contact-form p {
    margin: 0; /* removes all margins from the p tags */
    margin: 5px 0; /* add 5px margin at the top and bottom of the p tags */
    color: black; /* changes the text color of the p tag to white */
}

.contact-form input {
    border: none; /* removes the border on the input */
    width: 100%; /* makes the input width same as the contact-form div*/
    margin-bottom: 15px; /* adds margin at the bottom of the input */
    padding: 10px; /* adds 10px padding to all sides of the input */
    box-sizing: border-box; /* prevents the input from overflowing out of the parent div */
    border-radius: 3px; /* curves the edges of the input by 3px */
}

.contact-form textarea {
    width: 100%; /* makes the textarea width same as the contact-form div */
    padding: 10px; /*  adds 10px padding to all sides of the input */
    box-sizing: border-box; /* prevents the input from overflowing out of the parent div */
    border-radius: 3px; /* curves the edges of the input by 3px */
    min-height: 120px; /* gives the text-area a minimum height of 120px */
    margin-bottom: 15px; /* adds margin at the bottom of the textarea */
    resize: vertical; /* limits resizing to vertical resizing */
}

.contact-form button {
    border: none; /* removes the border on the button */
    padding: 7px; /*  adds px padding to all sides of the button */
    background: #e8f8ff; /* gives the button a background color */
    color: black; /* changes the text color of the button to white */
    border-radius: 4px; /* curves the edges of the button by 4px */
    cursor: pointer; /* changes the mouse pointer when you hover over the button */
    font-weight: bold; /* boldens the text of the button */
}

.contact-form button:hover {
    opacity: 0.7; /* changes the opacity of the button to 0.7 on hover */
}
.ui.comments .comment .content{
    display: contents;
}
.pagination {
    cursor: default;
    text-align: center;
}
.carousel-item{
    width: 15vw;
}

ul.select-dropdown,ul.dropdown-content{
    width:auto !important;
    top:65px !important;
    height: auto !important;

}
ul.dropdown-content li > a, .dropdown-content li > span {
    color: black;
}

div.MuiInput-underline:before {
    border-bottom: none;
    content: none;
 }
div.MuiInput-underline:after {
    border-bottom: none;
    content: none;
}
div.MuiDrawer-paper{
    position: inherit;
    height: 100%;
}
div.MuiGrid-container{
    display: block;
    text-align: -webkit-center;
}
.MuiTableFooter-root{
    margin-top: 20%;
}
.list-left{
    margin-left: 3vw;
    color: gray;
}
.card .card-image .itemImg{
    height: 40vh;
    display: block;
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    border-radius: 15px 15px 0px 0px;
}
.card .card-content .card-title {
    font-size: 15px;
    margin-bottom: 0;

}
.card-title{
    color: white;
}
 .card .card-content {
     padding: 12px;
 }

.wrapper .inside {
    z-index: 9;
    background:  grey;
    width: 45px;
    height: 40px;
    position: absolute;
    top: 0px;
    right: 0px;
    border-radius: 0px 50px 0px 200px;
    transition: all 0.5s, border-radius 2s, top 1s;
    overflow: hidden;
}
.wrapper .inside .icon {
    color: #ffffff;
    opacity: 1;
    text-align: right;
    margin-right: 5px;
    margin-top: 5px;
}
.wrapper .inside:hover {
    width: 100%;
    right: 0;
    top: 0;
    border-radius: 0;
    height: 82%;
}
.wrapper .inside:hover .icon {
    opacity: 0;
    right: 15px;
    top: 15px;
}
.wrapper .inside:hover .contents {
    opacity: 1;
    transform: scale(1);
    transform: translateY(0);
}
.wrapper .inside .contents {
    color: white;
    padding: 5%;
    opacity: 0;
    transform: scale(0.5);
    transform: translateY(-200%);
    transition: opacity 0.2s, transform 0.8s;
}
.wrapper .inside .contents table {
    text-align: left;
    width: 100%;
}
.wrapper .inside .contents h1, .wrapper .inside .contents p, .wrapper .inside .contents table {
    color: white;
}
.wrapper .inside .contents p {
    font-size: 13px;
}
.wrapper .card{
    margin-bottom: 5px;
}
 .wrapper .card .card-content {
     padding-bottom: 5px;
 }
.form-profile{
    display: flex;
    justify-content: space-around;
}
div .pagination li.active {
    background-color: grey;
}
.gallery{
    display: flex;
    justify-content: center;
    margin-bottom: 70px;
    margin-top: 50px;

}

/*//////*/
.cards-list {
    z-index: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

div.card_home {
    margin: 30px;
    width: 300px;
    height: 300px;
    border-radius: 15px;
    box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
    cursor: pointer;
    transition: 0.4s;
}

.card_home .card_image {
    width: inherit;
    height: inherit;
    border-radius: 15px;
}

.card_home .card_image img {
    width: inherit;
    height: inherit;
    border-radius: 15px;
    object-fit: cover;
}

.card_home .card_title {
    text-align: center;
    border-radius: 0px 0px 40px 40px;
    font-family: fantasy;
    font-weight: bold;
    font-size: 35px;
    margin-top: -60px;
    height: 40px;

}

.card_home:hover {
    transform: scale(0.9, 0.9);
    box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25),
    -5px -5px 30px 15px rgba(0,0,0,0.22);
}

.title-white {
    color: white;
}

.title-black {
    color: black;
}



.react-multi-carousel-list{
    margin: 10px;
}
.react-multi-carousel-track{
    align-items: center;

}
/*.nav-button:focus{*/
/*    text-decoration: none;*/
/*    font: menu;*/
/*    display: inline-block;*/
/*    !*padding: 2px 8px;*!*/
/*    border-style: solid;*/
/*    border-width: 2px;*/
/*    border-radius: 15px;*/
/*}*/
/*nav-buttonDrop:focus{*/
/*    text-decoration: none;*/
/*    display: inline-block;*/
/*    !*padding: 2px 8px;*!*/
/*    border-style: none;*/
/*    border-radius: unset;*/
/*}*/

/*mobile menu style*/
#mobMenu{
    position: absolute;
    background: #8a8a8a;
    width: 150px;
    z-index: 9999;
}
.mobile-button-group{
    display: flex;
    flex-direction: column;
}
.nav-button-mob{
    height: 40px;
    align-items: center;
    display: flex;
}
#drop_icon{
    display: flex;
    margin-left: 5px;
    align-items: center;
}
li #Dropdown_7{
    position: absolute;
    margin-left: 150px;
    left:0 !important;
    width: 150px !important;
}
.nav-buttonDrop{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.right{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.mobile-table{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    height: 100%;
}
#mobile-card{
    display: flex;
    position: absolute;
    margin-left: 30px;
}
@media all and (max-width: 600px) {
    .card-list {
        /* On small screens, we are no longer using row direction but column */
        flex-direction: column;
    }
    #icon_basket{
        margin-top: 15px;
    }
    .contact-comp{
        height: 100%;
    }
    #userOrders_body{
        height: 100%;
    }
    .form-profile{
        display: block;
    }
}
